.sorting__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.sorting__item:not(:first-child) {
  margin-left: 8px;
}
.sorting__btn,
.sorting__btn--current {
  min-width: 73px;
  padding: 6px 22px;
  background-color: var(--btn-background);
  color: var(--first-text-color);
  box-shadow: none;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sorting__btn:hover,
.sorting__btn:focus {
  background-color: var(--accent-color);
  color: var(--basic-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.sorting__btn--current {
  background-color: var(--accent-color);
  color: var(--basic-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
