:root {
  --accent-color: #2196f3;
  --basic-color-white: #ffffff;
  --second-background-color: #2f303a;
  --btn-background: #f5f4fa;
  --first-text-color: #212121;
  --secondary-text-color: #757575;
  --footter-contact-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
}
