.features__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features__icon-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--btn-background);
  border-radius: 4px;
}
